<!DOCTYPE html>
html(lang="en")
  head
    script.
      console.time('Done?')
      console.time('header')
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FreeFrontiers
    link(href="./css/bulma.min.css" rel="stylesheet")
    link(href="./css/betadefault.css" rel="stylesheet")
    link(href="./css/animate.css" rel="stylesheet")
    script.
      console.timeEnd('header')
  body
    script.
      console.time('body')
    #top
    include ./navbar.pug
    .section(style="padding:4rem 1.5rem;")
      .container#content
        .content.has-text-centered
          h1 Initialising FreeFrontiers...
          .loader(style="border:5px solid goldenrod;height:10.5em;width: 10.5em;border-right-color:transparent;border-top-color:transparent;margin:auto;")
    #bottom
    script(src="./js/feather.min.js")
    script.
      console.timeEnd('body')
script(async).
  require('../renderer.js')