
nav.navbar.is-dark.is-unselectable.is-hidden
  .container(style="-webkit-app-region:drag;")
    .navbar-brand
      a.navbar-item.is-active.brand(title="Home" data-target="home")
        i(data-feather="mic")
      a.navbar-item(title="Articles" data-target="article")
        .level.is-mobile
          .level-left
            .level-item
              i(data-feather="file-text")
              p.is-hidden#article Articles
      //- a.navbar-item(title="Videos" data-target="video")
        .level.is-mobile
          .level-left
            .level-item
              i(data-feather="play-circle")
              p.is-hidden#video Videos
      a.navbar-item(title="Settings" data-target="setting")
        .level.is-mobile
          .level-left
            .level-item
              i(data-feather="settings")
              p.is-hidden#setting Settings
      .level.is-mobile(style="-webkit-app-region:drag;position:absolute;right:0;top:15px;")
        .level-left
        .level-right
          a.level-item.is-hidden
            i(data-feather="download" data-size="18")
            p#updateprogress
          a.level-item#appminimize
            i(data-feather="minus" data-size="18")
          a.level-item#appmaximize
            i(data-feather="plus" data-size="18")
          a.level-item#appquit
            i(data-feather="x" data-size="18")
