.tabs.is-centered.is-medium.animated.fadeInDown
  ul.has-text-centered
    li.is-active
      a(data-target="homeraw") Raw
    //- li
      a(data-target="homecommunity") Community
#contentcontent
  .loader